@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Add any custom CSS here */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  // align-items: center;
  background-color: black;
  color: white;
  margin-top: 50px;
}

header img {
  width: 50px;
  height: 50px;
  margin: 0.5em;
}

nav {
  width: 50%;
}

* {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Serif Display', serif;
}

@import 'tailwindcss/utilities';
